@{
    ViewBag.Title = "Contactez-nous";
}
<h1>@ViewBag.Title.</h1>


<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Eddy</h2>
        <img src="~/Content/images/eddy.jpg" alt="Texcel" width="200" class="arrondie"/>
        
        <address>
            Rue Nadeau<br />
            Jonauière, QC G7X 8X9<br />

        </address>

        <address>
            <strong>Touteddy:</strong>   <a href="http://www.touteddy.com" target="_blank">www.touteddy.com</a><br />
            <strong>Ineddy:</strong> <a href="http://www.ineddy.re" target="_blank">www.ineddy.re</a><br />
            <strong>Blog:</strong> <a href="http://www.blog.ineddy.re/" target="_blank">Blog Ineddy / Touteddy</a><br />
            <strong>Facebook:</strong>   <a href="https://www.facebook.com/fontaine.eddy.5?fref=ts" target="_blank">Eddy</a><br />
            <strong>Mail:</strong>   <a href="mailto:comeddy.fontaine@gmail.com">comeddy.fontaine@gmail.com</a><br />
        </address>
    </div>
    <div class="col-md-4">
        <h2>@ViewBag.Franck</h2>
        <img src="~/Content/images/franck.jpg" alt="Texcel" width="200" class="arrondie"/>
        
        <address>
            Rue Saint Hubert<br />
            Jonquière, QC G7X-5M5<br />
           
        </address>

        <address>
            <strong>Facebook:</strong>   <a href="https://www.facebook.com/profile.php?id=100009941986397&fref=ts" target="_blank">Franck</a><br />
            <strong>Marketing:</strong> <a href="mailto:franckatongfor@gmail.com">franckatongfor@gmail.com</a>
        </address>

    </div>
     <div class="col-md-4">
         <h2>Venez jaser avex nous</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.5604835352883!2d-71.24985688436136!3d48.407383079245776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc028dedf651e9b%3A0x46488a677ec3cbd1!2zQ8OpZ2VwIERlIEpvbnF1acOocmU!5e0!3m2!1sfr!2sca!4v1494594904802" height="350" style="border:0" allowfullscreen class="arrondie"></iframe>
         
         <address>Rue Saint Hubert, Jonquière, QC G7X 7W2</address> 
     </div>

</div>




        