@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--Test Ne fonctionne pas
    <img src="~Content/images/TE_OccasionDeChanger.jpg" alt="Logo Touteddy" width="70">
    <asp:Image ImageUrl="~Content/images/TE_OccasionDeChanger.jpg" Width="100" Height="50" />
    -->
    <img class="img-responsive" src="~/Content/images/texcel.png" alt="Texcel"  width="400" />
    <!--<h1>TEXCEL</h1>-->
    <!--
    <p class="lead">logiciel de gestion de test de jeux vidéos</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    
    <div class="row">
        <div class="col-md-8">
            <div class="accueil">
                <h2>TEXCEL version ASP.NET MVC</h2>
                <p>
                    Développé en ASP.NET MVC, TEXCEL est un logiciel qui permet d'optimiser la gestion des tests de jeux vidéo en augmenter l'efficacité lors de l'exécution des étapes du test et en minimisant la perte de temps dû à la répétition de traitement des données.
                </p>
                <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">En savoir plus &raquo;</a></p>-->

            </div>

         </div>

    </div>
</div>

