@if (Session["UserID"]!=null)
{
    
    <ul class="nav navbar-nav navbar-right">
        <li style="margin-top:15px;">
            Bonjour @Session["NomPrenom"]
        </li>
        <li>@Html.ActionLink("Se déconnecter", "Index", "Gerant", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
    
}
@*else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Se connecter", "Index", "Gerant", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@
